:root {
  --color-primario: #172b44;
  --color-secundario: #02487c;
  --color-terciario: #42b3eb;
  --color-cuaternario: #c0c6c9;
  --color-quintario: #285f1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Noto Sans", sans-serif;
}

body {
  background: linear-gradient(to bottom, var(--color-cuaternario), var(--color-terciario));
}

.description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-secundario);
  border-radius: 10px;
  max-width: 75rem;
  height: 230px;
  margin: 25px;
  font-size: 1.2rem;
  color: #fff;
  padding: 15px;
}

.intro h4 {
  margin-bottom: 40px;
}

.opinion-verificada {
  height: 150px;
  max-width: 1000px;
  margin: 15px 0px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color-secundario);
  border-radius: 10px;
  color: aliceblue;
}

.opinion-verificada h4 {
  margin-bottom: 30px;
}

.opiniones {
  display: flex;
  width: 80%;
}

.opinion {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  margin: 25px 5px 25px 5px;
  max-width: 400px;
  background-color: #fff;
  flex-basis: 400px;
}

.opinion .hotel-reseña {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.opinion .nombre-huesped {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.opinion .opinion-huesped {
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 10px;
  color: #333;
}

.opinion .descripcion {
  font-size: 0.9em;
  color: #666;
}

.opinion .hotel-reseña::before {
  content: "🏨 ";
}

.opinion .nombre-huesped::before {
  content: "👤 ";
}

.hoteles {
  border: var(--color-cuaternario) 2px solid;
  border-radius: 15px;
  display: flex;

  background: linear-gradient(to bottom, var(--color-cuaternario), var(--color-terciario));
  margin: 20px;
  padding: 10px;
  width: 80%;
}

.card-hotel {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  margin: 5px;
  width: calc(60% - 20px);
  max-width: 300px;
}

.image {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.image img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.image:hover img {
  transform: scale(1.1);
}

.name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
}

.description-hotel {
  padding: 10px;
}

@media only screen and (max-width: 890px) {
  .intro {
    max-width: 860px;
    height: auto;
  }

  .card-hotel {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    margin: 5px 0px;
    max-width: 450px;
  }

  .hoteles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    margin: 1px;
  }

  .name,
  .description-hotel {
    font-size: 25px;
    padding: 2px;
  }

  .opiniones {
    flex-wrap: wrap;
    justify-content: center;
  }

  .opinion-verificada {
    width: 500px;
  }

}

